.place__section {
  display: grid;
  grid-template-columns: 1fr calc(50% - 8px);
  column-gap: 40px;
  row-gap: 48px; 
}

.place__section:not(:last-child) {
  margin-bottom: 80px;
}

@media (max-width:1279px){
  .place__section {
    column-gap: 32px; 
  }
}

@media (max-width:1023px){
  .place__section {
    column-gap: 28px; 
  }
  .place__section:not(:last-child) {
    margin-bottom: 73px;
  }
}

@media (max-width:767px){
  .place__section {
    grid-template-columns: 1fr;
  }
  .place__section:not(:last-child) {
    margin-bottom: 50px;
  }
}