.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  min-height: 740px;
  background-size: cover;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 
 .cover__background::before {
   content: "";
   position: absolute;
   background: #2A2C2F;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 0.3;
   transition: opacity 0.3s ease-in-out;
 }
 
 .cover__background:hover::before {
   opacity: 0.8;
 }

 @media (max-width: 1279px){
  .cover__background {
    min-height: calc(640px + (740 - 640px) * ( (100vw - 1024px) / (1279 - 1024)));
  }
}

 @media (max-width:767px){
  .cover__background {
    min-height: 200px;
    height: 62.5vw;
  }
}