.lead__caption {
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1.5px;
  margin-top: 8px;
}

@media (max-width:1023px){
  .lead__caption {
    margin-left: calc(24px - (0 + 24) * ( (100vw - 768px) / (1023 - 768) ));
  }
}

@media (max-width:767px){
  .lead__caption {
    margin-left: calc(16px + (24 - 16) * ( (100vw - 320px) / (767 - 320) ));
  }
}