.container {
  margin: 0 auto;
  max-width: 984px;
}

.container_width_wide {
  max-width: 1184px;
}

@media (max-width:1279px){
  .container {
    max-width: 928px;
  }
  .container_width_wide {
    max-width: 1024px;
  }
  .container_width_reset-tablet-1024 {
    max-width: 928px;
  }
}

@media (max-width:1023px){
  .container {
    max-width: 720px;
  }
  .container_width_wide {
    max-width: 768px;
  }
  .container_width_wide-768 {
    max-width: 768px;
  }
  .container_width_reset-tablet-768 {
    max-width: 720px;
  }
}

@media (max-width:767px){
  .container {
    max-width: 288px;
  }
  .container_width_wide {
    max-width: 320px;
  }
  .container_width_wide-320 {
    max-width: 320px;
  }
  .container_width_reset-tablet-320 {
    max-width: 288px;
  }
}